body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Убираем прокрутку */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: 'Discovery', Arial, sans-serif;
    touch-action: manipulation; /* Запрещаем жесты масштабирования */
    -webkit-user-select: none; /* Запрещаем выделение текста на iOS */
    -ms-user-select: none; /* Запрещаем выделение текста на IE */
    user-select: none; /* Запрещаем выделение текста на всех браузерах */
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    z-index: 1000;
}

#loading img {
    width: 100px;
    height: 100px;
}

.main-screen {
    width: 100%;
    height: 100%;
    display: none; /* Скрываем страницы по умолчанию */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    overflow: hidden; /* Убираем прокрутку */
    background: url('assets/images/Фон%20общий.png') no-repeat center center;
    background-size: cover;
}

.main-screen#stats-page {
    background: none; /* Убираем общий фон на странице статистики */
}

.header {
    display: flex;
    justify-content: space-between; /* Размещаем элементы по краям */
    width: 100%;
    padding: 25px; /* Увеличено на 5 пикселей */
    position: relative;
}

.coin-info {
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
    top: 10px; /* Увеличено на 5 пикселей */
    left: 15px; /* Увеличено на 5 пикселей */
}

.coin-text {
    margin-right: 5px;
}

.coin-amount {
    margin-right: 10px;
}

.coin-info img {
    width: 24px;
    height: 24px;
}

.gender-switch {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 10px; /* Увеличено на 5 пикселей */
    position: relative;
    top: 10px; /* Увеличено на 5 пикселей */
    right: 10px; /* Увеличено на 5 пикселей */
}

.gender-switch input[type="radio"] {
    display: none;
}

.gender-switch label {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.gender-switch input[type="radio"]:checked + label {
    background-color: #555555;
    color: #ffffff;
}

.gender-switch label:not(:checked) {
    background-color: #f0f0f0;
    color: #000000;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрируем по вертикали */
    position: relative;
    flex-grow: 1;
}

.character {
    width: 420px; /* Уменьшено на 10 пикселей */
    height: auto;
    margin-bottom: -35px;
    margin-top: 70px;
    margin-left: -20px;
    position: relative;
    cursor: pointer; /* Указываем, что элемент кликабельный */
}

.character-her {
    width: 382px; /* Уменьшенный размер на 20% + 10 пикселей */
    height: auto;
    margin-bottom: -35px; /* Перемещение вверх на 5 пикселей */
    margin-top: 15px; /* Перемещение вверх на 10 пикселей */
    margin-left: -20px; /* Сдвиг правее на 5 пикселей */
    cursor: pointer; /* Указываем, что элемент кликабельный */
}

.text-container {
    width: 300px; /* Уменьшен контейнер на 10 пикселей */
    max-width: 420px;
    position: relative;
    margin: 0 auto; /* Центрирование по горизонтали */
    text-align: left;
}

.content-group {
    margin-top: 50px; /* Опущен на 150 пикселей */
}

.text-background {
    background: url('assets/images/Фон%20для%20текста.svg') no-repeat center center;
    background-size: cover;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: left;
}

.text-main {
    font-size: 18px;
    margin: 0;
}

.text-sub {
    font-size: 14px;
    margin: 10px 0 20px 0;
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #f0f0f0;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    position: absolute;
    bottom: 20px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.nav-item.active {
    background-color: #555555;
    border-radius: 10px;
}

.nav-item img {
    width: 24px;
    height: 24px;
}

.upgrades {
    width: 300px; /* Уменьшен контейнер на 10 пикселей */
    max-width: 320px;
    background-color: #1c1c1e;
    border-radius: 20px;
    padding: 20px;
    margin-top: -150px; /* Опущен на 150 пикселей */
}

.upgrades h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

.upgrade-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.upgrade-item:last-child {
    margin-bottom: 0;
}

.upgrade-icon {
    width: 50px;
    height: 50px;
    background-color: #2c2c2e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade-icon img {
    width: 30px;
    height: 30px;
}

.upgrade-details {
    flex-grow: 1;
    margin-left: 20px;
}

.upgrade-details h3 {
    color: #fff;
    margin: 0;
    font-size: 16px;
}

.upgrade-details p {
    color: #888;
    margin: 5px 0 0;
    font-size: 14px;
}

.upgrade-button {
    background-color: #ff3b30;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.upgrade-button:hover {
    background-color: #ff5e57;
}

.upgrade-button.active {
    background-color: #28a745; /* Зелёный цвет при достаточном балансе */
}

.coming-soon {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Занимает всю высоту экрана */
}

.text-container-store {
    width: 270px; /* Уменьшен контейнер на 10 пикселей */
    max-width: 270px;
    position: relative;
    margin: 0 auto; /* Центрирование по горизонтали */
    margin-top: 70px; /* Опущен на 50 пикселей */
    text-align: left;
}

.content-group {
    margin-top: 150px; /* Опущен на 150 пикселей */
}

.background-room {
    background: url('assets/images/Фон%20комната.svg') no-repeat center center;
    background-size: cover; /* Устанавливаем размер фонового изображения, чтобы оно покрыло весь экран */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-container-room {
    width: 90%;
    max-width: 300px;
    margin-top: 420px; /* Опущен контейнер текста на 200 пикселей */
    margin-left: 20px; /* Сдвиг правее на 20 пикселей */
    text-align: left;
}

/* Updated styles for stats-page */
#stats-page {
    background: url('assets/images/Фон%20комната.svg') no-repeat center center;
    background-size: cover; /* Устанавливаем размер фонового изображения, чтобы оно покрыло весь экран */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Стили для анимации монет */
.coin-animation {
    position: absolute;
    color: #ffd700; /* Золотой цвет для монет */
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    animation: coin-fall 1s ease-out forwards;
    z-index: 1000; /* Установим высокий z-index для отображения монет поверх всего */
}

.coin-animation img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.coin-value {
    color: #ffd700; /* Золотой цвет для значения монет */
}

@keyframes coin-fall {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}
