body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Убираем прокрутку */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: 'Discovery', Arial, sans-serif;
    -webkit-user-select: none; /* Запрещаем выделение текста на iOS */
    -ms-user-select: none; /* Запрещаем выделение текста на IE */
    user-select: none; /* Запрещаем выделение текста на всех браузерах */
}

#loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    z-index: 10000; /* Высокий z-index для отображения поверх всего */
}

#loading-gif {
    width: 200px; /* Установите нужный размер для гиф */
    height: auto;
}

#loading-text {
    font-family: 'Discovery', Arial, sans-serif;
    color: #fff;
    text-align: center;
}

.loading-main-text {
    font-size: 22px;
    margin: 10px 0 5px 0;
}

.loading-sub-text {
    font-size: 10px;
    margin: 0;
}

.language-switch {
    position: absolute;
    top: 120px; /* Опущен еще на 50 пикселей */
    left: 35px; /* 5px правее предыдущего положения */
    transform: translateY(-50%);
    color: #fff;
    font-family: 'Discovery', Arial, sans-serif;
    cursor: pointer;
    z-index: 10001; /* Ensure it is on top of other elements */
}

.language-switch .current-language {
    font-size: 20px;
    padding: 5px 10px;
    background-color: #000;
    border-radius: 5px;
}

.language-switch .language-list {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
    z-index: 10002; /* Ensure it is on top of other elements */
}

.language-switch .language-list div {
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

.language-switch .language-list div:hover {
    background-color: #555;
}

.main-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    overflow: hidden; /* Убираем прокрутку */
    background: url('assets/images/Фон общий.png') no-repeat center center;
    background-size: cover;
}

.main-screen#stats-page {
    background: none; /* Убираем общий фон на странице статистики */
}

.header {
    display: flex;
    justify-content: space-between; /* Размещаем элементы по краям */
    width: 100%;
    padding: 20px;
    position: relative;
}

.coin-info {
    display: absolute;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
    top: 5px;
    left: 15px;
}

.coin-text {
    margin-bottom: 5px;
}

.coin-amount {
    margin-right: 5px;
}

.coin-info img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px; /* Lower the coin image by 3px */
}

.gender-switch {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    top: 5px;
    right: 10px;
}

.gender-switch input[type="radio"] {
    display: none;
}

.gender-switch label {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.gender-switch input[type="radio"]:checked + label {
    background-color: #555555;
    color: #ffffff;
}

.gender-switch label:not(:checked) {
    background-color: #f0f0f0;
    color: #000000;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
}

.character {
    width: 430px; /* Уменьшенный размер на 10 пикселей */
    height: auto;
    margin-bottom: -65px; /* Перемещение вверх на 5 пикселей */
    margin-top: 10px; /* Перемещение вверх на 10 пикселей */
    margin-left: -20px; /* Сдвиг вправо на 5 пикселей */
    cursor: pointer; /* Указываем, что элемент кликабельный */
}

.character-her {
    width: 370px; /* Уменьшенный размер на 20% + 10 пикселей */
    height: auto;
    margin-bottom: -25px; /* Перемещение вверх на 5 пикселей */
    margin-top: 10px; /* Перемещение вверх на 10 пикселей */
    margin-left: -10px; /* Сдвиг вправо на 5 пикселей */
    cursor: pointer; /* Указываем, что элемент кликабельный */
}

.text-container {
    width: 90%;
    max-width: 300px;
    text-align: left; /* Выравнивание текста по левому краю */
}

.text-background {
    background: url('assets/images/Фон для текста.svg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    text-align: left;
}

.text-main {
    font-size: 18px;
    margin: 0;
}

.text-sub {
    font-size: 14px;
    margin: 10px 0 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    width: 50px;
    height: 50px;
}

/* Убираем элементы dots */
.page-controls {
    display: none;
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #f0f0f0;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    position: absolute;
    bottom: 20px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.nav-item.active {
    background-color: #555555;
    border-radius: 10px;
}

.nav-item img {
    width: 26px;
    height: 26px;
}

.upgrades {
    width: 340px; /* Уменьшен контейнер на 20 пикселей */
    max-width: 340px;
    background-color: #1c1c1e;
    border-radius: 20px;
    margin-top: -120px;
    padding: 20px;
}

.upgrades h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

.upgrade-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.upgrade-item:last-child {
    margin-bottom: 0;
}

.upgrade-icon {
    width: 50px;
    height: 50px;
    background-color: #2c2c2e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade-icon img {
    width: 30px;
    height: 30px;
}

.upgrade-details {
    flex-grow: 1;
    margin-left: 20px;
}

.upgrade-details h3 {
    color: #fff;
    margin: 0;
    font-size: 16px;
}

.upgrade-details p {
    color: #888;
    margin: 5px 0 0;
    font-size: 14px;
}

.upgrade-button {
    background-color: #ff3b30;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 17px; /* Make buttons narrower */
    cursor: pointer;
    font-size: 14px;
}

.upgrade-button:hover {
    background-color: #ff5e57;
}

.coming-soon {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.text-container-store {
    width: 280px; /* Уменьшен контейнер на 10 пикселей */
    max-width: 300px;
    position: relative;
    margin: 0 auto; /* Центрирование по горизонтали */
    margin-top: 0px; /* Adjust the margin as needed */
    margin-bottom: 20px; /* Add margin-bottom to avoid overlapping with navigation */
    text-align: left;
}

.content-group {
    margin-top: 220px; /* Lower the group of containers by 150px */
}

.background-room {
    background: url('assets/images/Фон комната.svg') no-repeat center center;
    background-size: cover; /* Устанавливаем размер фонового изображения, чтобы оно покрыло весь экран */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-container-room {
    width: 90%;
    max-width: 300px;
    margin-top: 420px; /* Опустить контейнер текста на 200 пикселей */
    margin-left: 20px; /* Сдвиг правее на 20 пикселей */
    text-align: left;
}

/* Updated styles for stats-page */
#stats-page {
    background: url('assets/images/Фон комната.svg') no-repeat center center;
    background-size: cover; /* Устанавливаем размер фонового изображения, чтобы оно покрыло весь экран */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Стили для анимации монет */
.coin-animation {
    position: absolute;
    color: #ffd700; /* Золотой цвет для монет */
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    animation: coin-fall 1s ease-out forwards;
    z-index: 1000; /* Установим высокий z-index для отображения монет поверх всего */
}

.coin-animation img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

@keyframes coin-fall {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.partner-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the partner blocks */
    justify-content: center;
    width: 100%;
    height: 100%; /* Ensure full height */
}

.partner {
    margin-bottom: 20px;
    width: 80%; /* Adjust width to ensure it doesn't stretch too much */
    position: relative; /* Ensure relative positioning for the checkmark */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-background {
    font-size: 1.5em; /* Increase font size by 1.5 times */
}

.subscribe-button, .confirm-button {
    background-color: #ff3b30; /* New red color for buttons */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 17px; /* Make buttons narrower */
    cursor: pointer;
    font-size: 14px;
}

.subscribe-button:hover, .confirm-button:hover {
    background-color: #ff5e57;
}

.checkmark {
    position: absolute;
    top: 10px; /* Top right corner */
    right: 10px; /* Top right corner */
    width: 20px;
    height: 20px;
}

.centered-image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    margin-top: -10px;
}

.friends-title {
    margin-top: 30px;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.invite-text {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.link-container {
    display: flex;
    flex-direction: column; /* Updated to column to fit within screen */
    align-items: center;
    margin-top: 10px;
}

.copy-button {
    background-color: #ff3b30;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px; /* Added margin-top for spacing */
}

.copy-button:hover {
    background-color: #ff5e57;
}

.referral-link {
    color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1c1c1e;
    border: none;
    border-radius: 10px;
    width: 300px; /* Фиксированная ширина */
}

.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #32CD32;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
}

/* Airdrop Page Styles */
.airdrop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Уменьшение отступа до 10 пикселей */
    color: white;
    -webkit-user-select: none; /* Запрещаем выделение текста на iOS */
    -ms-user-select: none; /* Запрещаем выделение текста на IE */
    user-select: none; /* Запрещаем выделение текста на всех браузерах */
}

.airdrop-container h1 {
    font-size: 24px; /* Измените размер шрифта здесь */
    text-align: center;
    margin-bottom: 20px;
}

.counter-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px; /* Отступы от боковых границ экрана */
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.counter-controls {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 5px;
    background-size: cover;
    background-color: transparent; /* Убираем фон */
    position: relative; /* Добавляем позиционирование для абсолютного размещения кнопок */
    width: 150px; /* Увеличиваем ширину контейнера для кнопок */
}

.counter-controls button {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 14px; /* Уменьшаем иконки на 3 пикселя */
    cursor: pointer;
    touch-action: manipulation; /* Устранение приближения при двойном нажатии */
    position: absolute; /* Абсолютное позиционирование кнопок */
}

.counter-controls button#minus-referrals, .counter-controls button#minus-days {
    left: 4px; /* Размещаем кнопку минус слева */
}

.counter-controls button#plus-referrals, .counter-controls button#plus-days {
    right: 4px; /* Размещаем кнопку плюс справа */
}

.counter-controls span {
    margin: 0 30px; /* Увеличиваем отступы между кнопками и числом */
    font-size: 22px;
    font-weight: bold;
    color: #fff; /* Изменение цвета текста */
    margin-left: 62px; /* Сдвиг вправо на 5 пикселей */
    position: relative;

}

.rewards-container {
    width: calc(100% - 20px); /* Оставляем отступ по 10 пикселей с каждой стороны */
    text-align: left;
}

.rewards-list {
    list-style: none;
    padding: 0;
}

.reward-item {
    list-style-type: none;
    border: 2px solid #9d53ff;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Темный полупрозрачный фон */
    margin: 10px 0;
}

.reward-container {
    display: flex;
    align-items: center;
    width: 100%; /* Уменьшение ширины для соблюдения отступов */
}

.reward-image {
    width: 100px; /* Увеличение размера иконок до 100 пикселей */
    height: auto;
    margin-right: 10px;
    margin-left: 10px; /* Перемещение иконки влево */
}

.reward-info {
    flex-grow: 1;
}

.reward-title {
    font-size: 18px; /* Изменение размера шрифта */
    display: block;
    margin-bottom: 5px;
    text-align: left; /* Выравнивание текста по левому краю */
    color: #fff; /* Цвет текста белый */
}

.progress-bar {
    flex-grow: 1; /* Расширяем прогресс-бар */
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    position: relative;
    width: calc(100% - 25px); /* Уменьшение ширины прогресс бара */
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #00ff00; 
    border-radius: 5px;
}

.progress-percent {
    position: absolute;
    bottom: -20px; /* Перемещение под прогресс бар */
    left: 50%; /* Выравнивание по центру */
    transform: translateX(-50%);
    font-size: 14px; /* Уменьшаем размер шрифта */
    color: #fff;
    text-align: center; /* Центрирование текста */
}

.counter-container {
    -webkit-touch-callout: none; /* Запрещаем вызов контекстного меню на iOS */
    -webkit-user-select: none; /* Запрещаем выделение текста на iOS */
    -ms-user-select: none; /* Запрещаем выделение текста на IE */
    user-select: none; /* Запрещаем выделение текста на всех браузерах */
}

@keyframes levitate {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
